<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add word</title>
    <div>Words to add</div>
    <!--/*@thymesVar id="wordList" type="Spring.domain.WordList"*/-->
    <form method="post" th:action="@{/word_list/{id}/add_word/filter(id=${wordList.id})}">
        <input type="text" name="filter" th:value="${filter}">
        <button type="submit">find</button>
    </form>

    <div>
        <table border="1">
            <tr>
                <th>Word</th>
                <th>Translation</th>
            </tr>
            <tr th:each="word : ${words}">
                <td th:utext="${word.text}">...</td>
                <td th:utext="${word.translation}">...</td>
            </tr>
        </table>
    </div>
</head>
<body>

</body>
</html>