<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Word List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1> <td th:utext="${list.name}"></h1>
<a href="add_word">Add word</a>
<br/><br/>
<div>
    <table border="1">
        <tr>
            <th>Word</th>
            <th>Translation</th>
        </tr>
        <tr th:each="word : ${list.words}">
            <td th:utext="${word.text}">...</td>
            <td th:utext="${word.translation}">...</td>
        </tr>
    </table>
</div>
</body>
</html>