<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Word List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Word List</h1>
<a href="addWord">Add word</a>
<br/><br/>
<div>
<form method="POST">

    <input type="text" name = "text" plasholder = "text"/>
    <input type="text" name = "translation" plasholder = "text"/>
    <button type ="submit"> Add </button>

</form>
</div>
<div>
    <table border="1">
        <tr>
            <th>Word</th>
            <th>Translation</th>
        </tr>
        <tr th:each="word : ${words}">
            <td th:utext="${word.text}">...</td>
            <td th:utext="${word.translation}">...</td>
        </tr>
    </table>
</div>
</body>
</html>