<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Word List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>List of lists</h1>
<a href="addWord">Add word</a>
<br/><br/>
<div>
<form method="POST">

    <input type="name" name = "name" plasholder = "name"/>
    <button type ="submit"> Add </button>

</form>
</div>
<br/><br/>
<div>
    <table border="0">
        <tr>
            <th>List name</th>
        </tr>
        <tr th:each="wordList : ${lists}">
            <td><a th:text="${wordList.name}" th:href="@{/word_list/{id}(id=${wordList.id})}">...</a></td>

        </tr>

    </table>
</div>
</body>
</html>