<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Train words</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>

<h1>Word - Translation</h1>
<h2> <td th:utext="${list.name}"></h2>
<br/><br/>
<div>
    <table border="1">
        <tr>
            <th>Word</th>
            <th>Translation</th>
        </tr>
        <tr th:each="word : ${list.words}">
            <td th:utext="${word.text}">...</td>
            <td th:utext="${word.translation}">...</td>
        </tr>
    </table>
</div>
</body>
</html>